################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

/Quick.MVVM/bin
/Quick.MVVM/obj
/Demo/bin
/Demo/obj
*.suo
/LanguageResourceMaker/bin
/LanguageResourceMaker/obj